{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNDRA</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/bank.png' %}">
    <style>
        .remember-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        .but1 {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <header>
        <div class="header-container">
            <h1><img src="{% static 'images/final_logo.png' %}" width="50" height="30"/>&nbsp;Fundra</h1>
            <p>Gateway to Seamless Banking and Crypto Transfer</p>
        </div>
    </header>
    <center>
        <div class="box1">
            <form id="loginForm" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <h2>Welcome To Fundra</h2>
                <p>Username</p>
                <input type="text" name="username" placeholder="Enter Username" size="48" required/>
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password" size="48"/><br><br>
                <div class="remember-container">
                    <input type="checkbox" id="remember-me" name="remember-me">
                    <label for="remember-me">&nbsp;Remember Me</label>
                </div>
                <button type="submit" class="but1">LOGIN</button><br><br>
                <h4>Not a member yet?&nbsp;<a href="{% url 'register' %}"> Register</a></h4>
            </form>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </div>
    </center>        
</body>
</html>
