<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <style>
       .logout-button {
            position: absolute;
            right: 0;
            top: 0;
            margin: 10px;
            /* background-color: #f00;  */
            color: #fff; /* Text color for logout button */
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="header-container">
        <h1 style="color: aliceblue;">Fundra Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{% url 'accounts' %}">Home</a></li>
                <li><a href="{% url 'deposit' %}">Deposit</a></li>
                <li><a href="{% url 'withdraw' %}">Withdraw</a></li>
                <li><a href="{% url 'transfer' %}">Account Transfer</a></li>
                <li><a href="{% url 'transaction' %}">Transaction Report</a></li>
                <li><a href="">Settings</a></li>
            </ul>
            <a href="" class="logout-button">Logout</a>
            
        </nav>
    </div>
</body>
</html>